.tb1{
  border: 1px solid black;
  -webkit-box-shadow: 1px 2px 66px -8px rgba(5,5,5,1);
-moz-box-shadow: 1px 2px 66px -8px rgba(5,5,5,1);
box-shadow: 1px 2px 66px -8px rgba(5,5,5,1);
}

.head{
  text-align: center;
  padding-top: 70px;
}

.btn1{
  padding : 10px 60px 10px 60px;
  margin-left: 600px;
}
