<h1 class="head">Farmer Request</h1>

<div class="container">
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Batch Creation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1"><b>Batch ID</b></label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="ff544f8176595c2a1fb20dc78ac17397fd9605c6">
                  <button type="button" class="btn btn-primary btn-sm">Generate Batch ID</button>
                </div>
                <hr>
                <div class="form-group">
                    <label><b>QR Code</b></label><br>
                    <img src="../../assets/qr.svg" class="icon">
                  </div>
                  <hr>
                <div class="form-group">
                    <label for="exampleInputEmail1"><b>Farmer Name</b></label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Sumukh Kudu">
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="exampleInputEmail1"><b>Required Date Range</b></label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="4-3-2019 to 10-3-2019">
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="Cropid"><b>Select Date Range for Inspection:</b></label>
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                    </ngb-datepicker>
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                  <hr>
                <div class="form-group">
                  <label for="exampleInputPassword1"><b>Farm Inspector (Available)</b></label>
                  <select class="form-control">
                    <option>Select Inspector</option>
                    <option value="Administrator">Nilesh Mishra</option>
                    <option value="Farmer">Sagar Mistry</option>
                    <option value="Food Processor">Santosh Choudhary</option>
                    <option value="Distributer">Sumukh Kudu</option>
                </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </ng-template>
  <table class="table tb1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Request Id</th>
        <th scope="col">Name</th>
        <th scope="col">Farmer ID</th>
        <th scope="col">Acceptance</th>
        <th scope="col">Rejection</th>

      </tr>
    </thead>
    <tbody>
      <tr class="table">
        <td>	RQ_1234</td>
        <td>Sumukh Kudu</td>
        <td>Farmer</td>
        <td><button type="button" class="btn btn-success" (click)="open(content)">Accept</button></td>
        <td><button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
      <tr class="table">
        <td>	RQ_1234</td>
        <td>Sagar Mistry</td>
        <td>Farmer</td>
        <td><button type="button" class="btn btn-success" (click)="open(content)">Accept</button></td>
        <td><button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
      <tr class="table">
        <td>	RQ_1234</td>
        <td>Santosh Choudhary</td>
        <td>Farmer</td>
        <td><button type="button" class="btn btn-success" (click)="open(content)">Accept</button></td>
        <td><button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" [routerLink]="['/adminportal']" class="btn btn-secondary btn1 btn-lg">BACK</button>
