<!-- <div class="container">

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/coffee_batch.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Batches</h5>
          <a [routerLink]="['/admin-batches']" class="btn btn-primary">Next</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../../assets/farmer_coffee.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Farmer Requests</h5>
          <a [routerLink]="['/admin-farmer-req']" class="btn btn-primary">Next</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../../assets/users.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <a [routerLink]="['/admin-users']" class="btn btn-primary">Next</a>
        </div>
      </div>



    </div>



   </div> -->


   <div class="contain">
    <div class="row">
      <div class="block">
        <div class="box1">
          <div class="col jb">
            <p class="jb2"> <span> <i class="fas fa-users ic2"></i> NUMBER OF USERS</span></p>
              <h1 class="jb3">5</h1>
              <p class="jb2">Users</p>
          </div>
        </div>
        <div class="box2">
          <div class="col jb">
            <p class="jb2"><span> <i class="fas fa-box ic2"></i> TOTAL BATCHES</span></p>
              <h1 class="jb1"><i class="fas fa-cubes ic1"></i>20</h1>
              <p class="jb2">Batches</p>
          </div>
        </div>
        <div class="box3">
          <div class="col jb">
            <p class="jb2"> <span><i class="fas fa-users-cog ic2"></i>TOTAL ROLES</span></p>
              <h1 class="jb1">5</h1>
              <!-- <p class="jb2"></p> -->
              <!-- <h1 class="jb1"><i class="fas fa-user ic1"></i></h1> -->
          </div>
        </div>
      </div>
    </div>

      <div class="row con">
        <div class="row">
          <div class="block1">
            <div class="box11">
              <div class="adj">
                <!-- <h5 class="card-title herohead"><i class="fas fa-mouse-pointer ic2"></i> CLICKS</h5> -->
                <p class="card-text herohead">BATCH </p>
                <p class="card-text hero"><i class="fas fa-box-open ic"></i></p>
                <p class="card-text hero"><button type="button" [routerLink]="['/admin-batches']" class="btn btn-light btn1">View</button></p>
                <!-- <p class="para">30% vs previous month</p> -->
              </div>
            </div>

            <div class="box12">
              <div class="adj">
                <!-- <h5 class="card-title herohead">CONVERSION <i class="fas fa-check-circle ic2"></i></h5> -->
                <p class="card-text herohead">FARMER REQUEST</p>
                <p class="card-text hero"><i class="fas fa-clipboard ic"></i></p>
                <p class="card-text hero"><button type="button" [routerLink]="['/admin-farmer-req']" class="btn btn-light btn2">View</button></p>
                <!-- <p class="para">20% vs previous month</p> -->
              </div>
            </div>

            <div class="box13">
              <div class="adj">
                <h5 class="card-title herohead"> USERS</h5>
                <p class="card-text hero"><i class="fas fa-users ic"></i></p>
                <p class="card-text hero"><button type="button" [routerLink]="['/admin-users']" class="btn btn-light btn3">View</button></p>
                <!-- <p class="para">0.8 more for industry standards</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>



