<div class="contain">
    <div class="login-box">
        <img src="../../assets/avatar.png" class="avatar">
            <h1>Register Here</h1>
            <div class="form">
              <div class="row">
                <div class="col 3">
                    <label>Full Name</label>
                    <input type="text" name="username" placeholder="Enter Full Name">
                </div>
                <div class="col 3">
                    <label>Phone Number: </label>
                    <input type="text" name="username" placeholder="Enter Number">
                </div>
                <div class="col 3">
                    <label>Aadhaar Number:</label>
                    <input type="text" name="username" placeholder="Enter Aadhaar Number">
                </div>
                <div class="col 3">
                    <label>Select Role</label>
                    <select class="custom-select">
                        <option value="Administrator">Administrator</option>
                        <option value="Farmer">Farmer</option>
                        <option value="Food Processor">Food Processor</option>
                        <option value="Distributer">Distributer</option>
                        <option value="Retailer">Retailer</option>
                    </select>
                </div>
              </div>

              <label>Address :</label>
              <input type="text" name="username" placeholder="Enter Address">

              <div class="row">
                  <div class="col 3">
                      <label>City</label>
                      <input type="text" name="username" placeholder="Enter Location">
                  </div>
                  <div class="col 3">
                      <label>Email Id</label>
                    <input type="text" name="username" placeholder="Enter Email Id">
                  </div>
                  <div class="col 3">
                      <label>New Password</label>
                      <input type="password" name="password" placeholder="Enter Password">
                  </div>
                </div>
                <div class="">















                    <input [routerLink]="['/login']" type="submit" name="submit" value="Register">
                    <!-- <a [routerLink]="['/']">Forget Password</a> -->
                  </div>
            </div>
    </div>

</div>
